$black1:#333333;
$black2:#666666;
$black3:#999999;
$black4:#222222;

$border1:#AAAAAA;
$border2:#053C08;
$border3:#aaaaaa;
$border4:#DFE5EE;

$main:#111111;

$sub1a:#440029;
$sub1b:#E63EA3;
$sub2a:#00355E;
$sub2b:#3E76E6;

$gold:#645A30;

$text1:white;
$text2:#DDDDDD;

$grad:linear-gradient(90deg, #440029 0%, #00355E 100%);